.topdiv {
  background-color: blueviolet;
  height: 250px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

#top-1 {
  display: inline;
  width: 33%;
  border: 4px solid;
  border-color: black;
  border-radius: 8px;
}

#top-2 {
  display: inline;
  width: 33%;
  border: 4px solid;
  border-color: black;
  border-radius: 8px;
  justify-content: space-between;
}

.custPhoto {
  height: 65%;
  margin: auto;
  display: block;
}

.random-customer{
  text-align: center;
}

#top-3 {
  display: inline;
  width: 33%;
  border: 4px solid;
  border-color: black;
  border-radius: 8px;
}

.bottomdiv {
  height: 250px;
  display: flex;
  background-color: aqua;
  align-items: stretch;
  justify-content: space-around;
}

#bot-1 {
  display: inline;
  width: 33%;
  justify-content: center;
  border: 4px solid;
  border-color: black;
  border-radius: 8px;
}

#register {
  width: 100%;
  margin: auto;
}

#bot-2 {
  display: inline;
  width: 33%;
  border: 4px solid;
  border-color: black;
  border-radius: 8px;
}

#bot-3 {
  display: inline;
  width: 33%;
  border: 4px solid;
  border-color: black;
  border-radius: 8px;
}

#pricelist {
  height: 100%;
  margin: auto;
  display: block;
  border: 3px dotted;
}